<ul class="nav nav-pills" role="tablist">
  <li class="active"><a href="#data" role="tab" data-toggle="tab">Data</a></li>
  <li><a href="#bubbles" data-toggle="tab">Bubbles</a></li>
  <li><a href="#grouped" data-toggle="tab">Grouped</a></li>
  <li><a href="#treemap" data-toggle="tab">Treemap</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="data">
    <table id="dataset" data-height="500" data-sort-name="sector" data-sort-order="sector">
      <thead>
        <tr>
          <th>Discloser name</th>
          <th>Disclosure score</th>
          <th data-field="sector" data-sortable="true">GICS Sector</th>
          <th>GICS Industry Group</th>
          <th>GICS Industry</th>
          <th>GIVS Sub-industry</th>
        </tr>
      </thead>

      <tbody>
        <% @dataset.each do |row| %>
          <tr>
            <td><%= row.discloser_name %></td>
            <td><%= row.disclosure_score %></td>
            <td><%= row.gics_sector %></td>
            <td><%= row.gics_industry_group %></td>
            <td><%= row.gics_industry %></td>
            <td><%= row.gics_sub_industry %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <script>
      $('#dataset').bootstrapTable();
    </script>
  </div>

  <div id="bubbles" class="tab-pane fade">
    <%= render partial: 'dataset/visualisations/bubble' %>
  </div>

  <div id="grouped" class="tab-pane fade">
    <%= render partial: 'dataset/visualisations/grouped' %>
  </div>

  <div id="treemap" class="tab-pane fade">
    <%= render partial: 'dataset/visualisations/treemap' %>
  </div>
</div>
